<!DOCTYPE html>
<html>
<head>
  <title><% yield(:title) if content_for?(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<div id="wrapper">

<div id="side_column">
<center>
<%= link_to image_tag('logo-off.png', :id => 'logo'), '/' %>
<br><span class="dark_red">beta</span>
</center>

<ul class="sidemenu">
<li><%= link_to 'トップ', '/' %>
<li class="new_section"><%= link_to 'xxxxx', '' %>
</ul>
<% if (notice || alert) %>
<div id="alert_box">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<% end %>
</div>

<div id="main">

<div id="header">
</div>

<div id="contents">
<%= yield %>
</div>

</div>

</div>
<div id="footer">
  Hidetchi, All rights reserved
</div>
</body>
</html>
